
// #region light
.theme-light {
    --bg-background-primary: white;
    --bg-background-secondary: #f7fafc;

    --text-copy-primary: #2d3748;
    --text-copy-secondary: #4a5568;
    --bg-background-fh : #63b3ed;
    --border-color-primary: #63b3ed;

    --bg-background-tag: #aecce0;

    --btn-border-color: '#4a5568';
}

.theme-light .search-highlighted {
    background: #f0fff4;
}

.theme-light .search-hover:hover {
    background: #f0fff4;
}
// #endregion

// #region Dark

// .theme-dark .markdown-body {
//     color: #24292e;
// }

.theme-dark .search-highlighted {
    background: #2d3748;
}

.theme-dark .search-hover:hover {
    background: #2d3748;
}

.theme-dark {
    --bg-background-primary: rgb(31, 57, 80);
    --bg-background-secondary: rgb(21, 48, 71);

    --text-copy-primary: #cbd5e0;
    --text-copy-secondary: #2e2f30;
    --bg-background-fh: #3a9de4;

    --border-color-primary: #63b3ed;

    --bg-background-tag: #8da5b6;

    --btn-border-color: '#4a5568';
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}
// #endregion

