:root {
	--menu-speed: 0.75s;
	--primary-color: rgba(243, 120, 20);
	--secondary-color: rgb(16, 148, 172);
	--secondaryB-color: rgb(74, 195, 216);
	--tertiar-color: rgb(123, 172, 172);
	--tertiarA-color: rgba(29, 66, 66, 0.459);
	--overlay-color: rgba(2, 139, 252, 0.63);
	--text-greyish: rgb(92, 91, 91);
	--timeline_dots: #ff6b6b;
	--timeline_dots_hover: scale-color(var(--timeline_dots), $lightness: 32%);
	--bg-color: #fffcf9; //#f3f7f9

}